.radio-wrapper {
  width: 145px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  position: relative;
  margin-left: 1%;
}
.radio-wrapper p {
  position: absolute;
  z-index: 10;
  color: white;
  font-size: 1.7em;
  margin: 0;
  margin-top: 13px;
}
.radio-wrapper .correct {
  left: 17px;
  top: -5px;
}
.radio-wrapper .wrong {
  right: 17px;
  top: -5px;
}
.radio-wrapper .neutral-icon {
  left: 69px;
  top: -8px;
  opacity: 0.5;
}
.radio-wrapper label {
  z-index: 9;
}

input[type=radio] {
  display: none;
}

i {
  z-index: 99;
  font-size: 18px;
}

.neutral-icon i {
  font-size: 10px;
}

.neutral + label {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 33%;
  transition: transform 1s;
}

.neutral:checked + label {
  border: 2px solid rgb(0, 0, 0);
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(238, 238, 238);
  background: linear-gradient(to bottom, rgb(238, 238, 238) 0%, rgb(204, 204, 204) 100%);
}

.yes + label {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  text-align: center;
}

.yes:checked + label {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(32, 213, 50);
  background: linear-gradient(to bottom, rgb(32, 213, 50) 0%, rgb(28, 195, 1) 100%);
  -moz-animation-duration: 0.4s;
  -moz-animation-name: slidein;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: slidein;
  animation-duration: 0.4s;
  animation-name: slidein;
  -webkit-transform: translateZ(0);
}

.no + label {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  text-align: center;
}

.no:checked + label {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: red;
  -moz-animation-duration: 0.4s;
  -moz-animation-name: slideno;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-name: slideno;
  animation-duration: 0.4s;
  animation-name: slideno;
  -webkit-transform: translateZ(0);
  background: rgb(230, 108, 103);
  background: linear-gradient(to bottom, rgb(230, 108, 103) 0%, rgb(221, 79, 75) 100%);
}

@-webkit-keyframes slidein {
  from {
    transform: translate(50px, 0);
  }
  to {
    transform: translate(0px, 0px);
  }
}

@keyframes slidein {
  from {
    transform: translate(50px, 0);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes slideno {
  from {
    transform: translate(-50px, 0);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@keyframes slideno {
  from {
    transform: translate(-50px, 0);
  }
  to {
    transform: translate(0px, 0px);
  }
}
@-webkit-keyframes returnLeft {
  from {
    transform: translate(-50px, 0);
  }
  to {
    transform: translate(0px, 0);
  }
}
@keyframes returnLeft {
  from {
    transform: translate(-50px, 0);
  }
  to {
    transform: translate(0px, 0);
  }
}
@-webkit-keyframes returnRight {
  from {
    transform: translate(50px, 0);
  }
  to {
    transform: translate(0px, 0);
  }
}
@keyframes returnRight {
  from {
    transform: translate(50px, 0);
  }
  to {
    transform: translate(0px, 0);
  }
}/*# sourceMappingURL=Style.css.map */