<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description">
    <meta name="author" content="Devcrud">
    <title>CONTROL DE TAREAS</title>
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/StyleWeb.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
</head>
<style>
    .header{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #fff;
    }

#contenido {
    width: 100%;
    margin:auto;
    max-width: 1280px;
    min-height: 100vh;
}

.productos {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    width: 20%;
    margin-top: 20px;
}

.producto img {
    width: 10%;
    height: 200px;
    object-fit: cover;
}

.producto .detalle {
    padding: 5px;
}

.producto .contenedor_producto {
    background-color: white;
    width: 80%;
    margin: auto;
}
</style>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <header class="header">
        <div class="container">
            <div class="header-content">
                <h4 class="header-subtitle" >Bienvenido!</h4>
                <h1> Hola {{ user.username }} tu rol es Funcionario</h1>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{% url 'AgregarTarea' %}" class="nav-link">Crear Tareas</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'AgregarTareaSub' %}" class="nav-link">Crear Tareas subordinadas</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'ListarProblema' %}" class="nav-link">Ver Problemas</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'ListarAtraso' %}" class="nav-link">Ver Atrasos</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'employee' %}" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'login_view' %}" class="nav-link">Cerrar session</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'AgregarProblema' %}" class="nav-link">Reportar problema</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-6 about-card">
                <h3 class="font-weight-light">Process SA</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">La empresa “Process SA” se dedica a asesorar a empresas de distintos rubros en el ordenamiento y control
                    de sus procesos y tareas</h5>
            </div>
            <div class="col-lg-6 about-card">
                <h3 class="font-weight-light">Informacion Personal</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Nombre</span> : {{ user.username }}</li>
                    <li><span>Email</span> : {{ user.email }}</li>
                    <li><span>Rol</span> : Funcionario</li>
                </ul>  
            </div>
        </div>
    </div>
    <section class="section" id="resume">
        <div class="container">
            <h2 class="mb-3"><span class="text-danger">Panel de Tareas</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Tareas Asignadas</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <!--<div class="productos">
                            {% for TA in Tareasa %}
                            <div class="producto">
                                <div class="contenedor_producto">
                                    <div class="detalle">
                                        <a href="{{ TA.get_absolute_url }}"><h1>{{TA.Nom_Ta}}</h1></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        -->
                        <table class="table table-striped table-hover">
                            <tr>
                                <th>Nombre</th>
                                <th>Responsable</th>
                                <th>Fecha_desde</th>
                                <th>Fecha_hasta</th>
                                <th>Descripcion</th>
                                <th>Opciones</th>
                            </tr>
        
                            {% for T in Tareas %}
        
                            <tr>
                                <td>{{T.Nombre_Tarea}}</td>
                                <td>{{T.Responsable}}</td>
                                <td>{{T.Fecha_desde}}</td>
                                <td>{{T.Fecha_hasta}}</td>
                                <td>{{T.Descripcion}}</td>
                                <td> <a href="{% url 'ModificarTarea' T.id %}" class="btn btn-secondary">Modificar</a> </td>
                                <td> <a href="{% url 'EliminarTarea' T.id %}" class="btn btn-primary">Eliminar</a> </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
            </p>
        </div>
    </footer>
</body>
</html>
