<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description">
    <meta name="author" content="Devcrud">
    <title>CONTROL DE TAREAS</title>
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'css/StyleWeb.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
</head>
<style>
    .header{
        background: url('{% static "images/Banner.png" %}');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #fff;
    }

#contenido {
    width: 100%;
    margin:auto;
    max-width: 1280px;
    min-height: 100vh;
}

.productos {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    width: 20%;
    margin-top: 20px;
}

.producto img {
    width: 10%;
    height: 200px;
    object-fit: cover;
}

.producto .detalle {
    padding: 5px;
}

.producto .contenedor_producto {
    background-color: white;
    width: 80%;
    margin: auto;
}
</style>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <header class="header">
        <div class="container">
            <div class="header-content">
                <h4 class="header-subtitle" >Hello</h4>
                <h1> hello {{ user.username }} your role is Funcionario</h1>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{% url 'AgregarTarea' %}" class="nav-link">Crear Tareas</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'AgregarTareaSub' %}" class="nav-link">Crear Tareas subordinadas</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'employee' %}" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'TareaA' %}" class="nav-link">ListarTareaA</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Process SA</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">La empresa “Process SA” se dedica a asesorar a empresas de distintos rubros en el ordenamiento y control
                    de sus procesos y tareas</h5>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Informacion Personal</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Nombre</span> : {{ user.username }}</li>
                    <li><span>Email</span> : {{ user.email }}</li>
                    <li><span>Rol</span> : Funcionario</li>
                </ul>  
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Tareas En Cola</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="productos">
                        {% for p in tareas %}
                        <div class="producto">
                            <div class="contenedor_producto">
                                <div class="detalle">
                                    <h5>{{p.Nombre_Tarea}}</h5>
                                    <h5>{{p.Responsable}}</h5>
                                    <h5>{{p.Fecha_desde}}</h5>
                                    <h5>{{p.Fecha_hasta}}</h5>
                                    <h5>{{p.Descripcion}}</h5>
                                    <!-- Botones bootstrap -->
                                    <button type="button" class="btn btn-success" data-toggle="buttons">Success</button>
                                    <button type="button" class="btn btn-warning" data-toggle="buttons">Warning</button>
                                    <button type="button" class="btn btn-danger" data-toggle="buttons">Danger</button>
                                    <!-- Botones bootstrap -->  
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section" id="resume">
        <div class="container">
            <h2 class="mb-5"><span class="text-danger">Panel de Tareas</h2>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Tareas Pendientes</h4>
                                
                                <!-- Triple switcher -->

                              <div class="radio-wrapper">
                                <p class="correct"><i class="ion-checkmark-round"></i>
                                </p>
                                <p class="neutral-icon"><i class="ion-record"></i>
                                </p>
                                <p class="wrong"><i class="ion-close-round"></i></p>
                                <input type="radio" name="event" class="yes" id="radio-yes" />
                            
                                <label for="radio-yes"></label>
                            
                                <input type="radio" name="event" class="neutral" checked id="radio-neutral" />
                                <label for="radio-neutral"></label>
                            
                            
                                <input type="radio" name="event" class="no" id="radio-no" />
                                <label for="radio-no"></label>
                              </div>
                            

                        <!-- Triple switcher-->





                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="productos">
                            {% for TA in Tareasa %}
                            <div class="producto">
                                <div class="contenedor_producto">
                                    <div class="detalle">
                                        <h5>{{TA.Nom_Ta}}</h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h2 class="mb-5"><span class="text-danger">Barra de Progreso Tareas</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Tareas 1</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <h6>Actividad 1</h6>
                             <div class="progress mb-3">
                                 <div class="progress-bar bg-danger" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>
                             <h6>Actividad 2</h6>
                             <div class="progress mb-3">
                                 <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>
                             <h6>Actividad 3</h6>
                             <div class="progress mb-3">
                                 <div class="progress-bar bg-danger" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Tareas 2</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <h6>Actividad 1</h6>
                             <div class="progress mb-3">
                                 <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>
                             <h6>Actividad 2</h6>
                             <div class="progress mb-3">
                                 <div class="progress-bar bg-danger" role="progressbar" style="width: 69%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>
                             <h6>Actividad 3</h6>
                             <div class="progress mb-3">
                                 <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                             </div>
                         </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Tareas 3</h4>
                                <span class="line"></span>  
                            </div>
                        </div>
                        <div class="card-body pb-2">
                           <h6>Actividad 1</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 97%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Actividad 2</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 52%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Actividad 3</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 84%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
            </p>
        </div>
    </footer>
</body>
</html>
